\#recentf\#
%backup%~
/auto-save-list
/elpa/
/eshell/
/recentf
/session.*
/smex-items
/tramp
/tutorial
/url
/pyim
/transient
/tree-sitter
.DS_Store
/wiki
/elpy
/devdocs
/org-persist
/speed-type
/share
.youdao
.emacs.desktop*
.org-id-locations
bookmarks
history
org-roam.db
projects
*.elc
